
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h5, h6, p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

header {
  position: absolute;
  width: 100%;
  font-family: "Poppins";
.btn-link{
  display: inline-block;
}
  nav {
    .navbar-nav {
      .nav-item {
        margin-right: 25px;
        margin-left: 25px;

        &:first-child {
          margin-left: 0;
        }

        .nav-link {


          color: #ffffff;
          font-size: 14px;
          opacity: 0.8;

          &:hover {
            color: #FFFFFF;
            opacity: 100%;
          }
        }
      }
    }
    .navbar-light{
      .navbar-toggler-icon {

      }
    }

  }


}

.btn-link {
  margin-left: 25px;
  color: #ffffff;
  padding: 9px 35px;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  transition: 0.2s;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;


  &:hover {
    color: #333333;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid transparent;
  }
}

.First-section {
  color: #FFFFFF;
  padding: 156px 0 155px;
  background: url("../img/Hero_bg.jpg") no-repeat center/cover;

  h3 {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.15em;
    margin-bottom: 19px;
  }

  h1 {
    font-weight: 600;
    font-size: 66px;
    line-height: 70px;
    letter-spacing: 0.03em;
    margin-bottom: 17px;
  }

  p {
    line-height: 28px;
    letter-spacing: 0.06em;
    opacity: 0.7;
    margin-bottom: 35px;
  }

  .row {
    & div:first-child {

      .btn-link {
        margin-bottom: 63px;
        display: inline-block;
        @extend .btn-link;
        padding: 13px 30px;
        margin-right: 8px;
        margin-left: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        border: none;
        background: linear-gradient(265.37deg, #9224D6 -49.74%, #BD87DE 116.53%);

        &:hover {
          background: #C35591;
          color: #FFFFFF;
          border: none;
        }

      }

      .btn-link-tr {
        @extend .btn-link;
        border: 1px solid #FFFFFF;
        background: none;

        &:hover {
          color: #333333;
          text-decoration: none;
          background-color: rgba(255, 255, 255, 0.8);
          border: 1px solid transparent;
        }
      }
    }
    & div:last-child{
      img{
        display: block;
      }
    }
  }
  span{
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.13em;
    margin-bottom: 17px;
  }
  a{
    margin-right: 21px;
  }
}

.Episodes{
  color: #000000;
  padding: 100px 0;
h2{
display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 52px;
  letter-spacing: 0.05em;
}

  a{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #9224D6;
    text-decoration: none;
transition: 0.2s;
    &:hover{
      opacity: 70%;
    }
  }
  .row{
    & div:first-child{
      display: flex;
      justify-content: space-between;
      align-items: end;
    }
    //div:not(.col-12 .mb-5, .play_episode, .before-ep ){
    //  margin-bottom: 64px;
    //
    //}
    div:nth-child(-n+3):not(.before-ep){
      margin-bottom: 64px;
    }
  }

  .before-ep:before{
    content: "EP. 25";
    display: inline;
    position: absolute;
    bottom: 25px;
    right: 0;
    padding: 13px 30px;
    background: #1C1B1E;
    border-radius: 10px 0px;
    color: #FFFFFF;
  }
  img{
    margin-bottom: 25px;
  }
  h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    margin-bottom: 15px;
  }
  h3{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
  }
  p{
    line-height: 24px;
    letter-spacing: 0.02em;
    opacity: 0.6;
    margin-bottom: 19px;
  }
  .play_episode{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      transition: 0.2s;
    }
    a:hover{
      opacity: 70%;
    }
    span:before{
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url("../img/logo/access_time.svg");
      position: relative;
      top: 6px;
      right: 0px;
      margin-right: 7px;
    }
    span{
      opacity: 0.6;
    }
    a:before{
      content: "";
      display: inline-block;
      background: url("../img/logo/Polygon-2.svg");
      width: 15px;
      height: 17px;
      position: relative;
      top: 2px;
      left: 0px;
      margin-right: 12px;
    }
  }
}
.Meet_host{
  padding: 0 0 100px;
  h2{
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.05em;
  }
  p{
    line-height: 30px;
    letter-spacing: 0.05em;
    opacity: 0.7;
      margin-bottom: 50px;

  }
  .btn-link{
    @extend .btn-link;
    color:#1C1B1E;
    border: 1px solid #1C1B1E;
    margin-left: 0;
    padding: 10px 27px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.05em;
    &:hover{
      background-color: #1C1B1E;
      color: #FFFFFF;
    }

  }
}
.Topics{
  padding: 0 0 100px;
  h2{
    display: inline-block;
    font-size: 35px;
    line-height: 52px;
    letter-spacing: 0.05em;
  }
  a{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #6C22C9;
    transition: 0.2s;
    &:hover{
      text-decoration: none;
      opacity: 70%;
    }
  }
img{
  margin-bottom: 18px;
}
  h3{
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.05em;
  }
  span{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    opacity: 0.7;
  }
}
.Keep_in_touch{

  color: #FFFFFF;
  padding: 114px 0 132px;
  background: url("../img/CTA Banner.png") no-repeat center;


  h2{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.05em;

  }
  p{
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    opacity: 0.7;
  }
  label{
    display: none;
  }
  .btn{
    padding: 14px 36px;
    color: #FFFFFF;
    background: linear-gradient(265.37deg, #9224D6 -49.74%, #BD87DE 116.53%);
    position: absolute;
    top: -1px;
    right: 300px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    transition: 0.2s;
    &:hover{

    }
  }
  input{
    display: inline-block;
    width: 100%;
    max-width: 510px;
    background: transparent;
    padding: 12px 0 11px 25px;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    &:focus{
      outline: none;
    }
&::placeholder{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
}
  }
}
footer{
  padding: 100px 0 26px;
div:first-child{
  a{
    img{margin-bottom: 18px;

    }
  }
}
  h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 26px;

  }
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #1C1B1E;

    opacity: 0.6;
  }
  ul{
    list-style: none;
    li{
      margin-bottom: 13px;
      a{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: #000000;
        opacity: 0.7;
        transition: 0.2s;
        &:hover{
          opacity: 1;
          color: #000000;
          text-decoration: none;
        }
      }
    }
  }
  div:nth-child(5){
    a{
      color: #000000;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.02em;

    }
    a:hover{

      text-decoration: none;
    }

    a:after{
content: " · ";
      font-size: 40px;
      position: relative;
      top: 7px;
      &:hover{
        color: black;
      }
    }
    a:last-child:after{
      display: none;
    }

  }
  hr{
   background-color: #0000004D;

  }
  div:last-child{
    a{
      color: rgba(0, 0, 0, 0.6);
      text-decoration: none;
      &:hover{

      }
    }
  }
}


